* missing values
* data.table
* dplyr
* sqldf
* lubridate
* stringr

## missing values

In [ ]:
train.data = read.csv("train.csv", na.strings=c("NA", ""))
str(train.data)
train.data$Survived = factor(train.data$Survived)

train.data$Pclass = factor(train.data$Pclass)
str(train.data)


is.na(train.data$Age)

sum(is.na(train.data$Age) == TRUE)

sum(is.na(train.data$Age) == TRUE) / length(train.data$Age)

sapply(train.data, function(df) {
  sum(is.na(df)==TRUE)/ length(df);
   })

install.packages("Amelia")

require(Amelia)

missmap(train.data, main="Missing Map")

AmeliaView()

## data.table

> `DT[i, j, by]`  

![Imgur](https://i.imgur.com/07O9z1t.png)

`DT` is referred to the data table.  
`i <=> where:` refers to the row indexing takes place i.e. put the row condition here.  
`j <=> select:` refers to the column indexing takes place i.e. put the conditions (to filter, to summarise) on columns here.  
`by <=> group_by:` refers to any categorical variable i.e. put the variable on the basis of which the grouping shall be executed.

In [8]:
install.packages("data.table",repos = "https://cran.r-project.org/")

Installing package into 'C:/Users/Suman/Documents/R/win-library/3.4'
(as 'lib' is unspecified)

package 'data.table' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Suman\AppData\Local\Temp\Rtmpyi4GCL\downloaded_packages

In [9]:
library(data.table)

Warning message:
"package 'data.table' was built under R version 3.4.3"

In [10]:
#creating a dummy data table
DT <- data.table(ID = 1:50,
                Capacity = sample(100:1000, size = 50, replace = F),
                Code = sample(LETTERS[1:4], 50, replace = T),
                State = rep(c("Alabama","Indiana","Texas","Nevada"), 50))
#simple data.table command
DT[Code == "C", mean(Capacity), State]

  State   V1
1 Indiana 504.75
2 Texas   400.80
3 Nevada  504.75
4 Alabama 400.80

### fread():

In [11]:
system.time(DT1 <- fread("data//GB_full.csv"))

Read 1720673 rows and 12 (of 12) columns from 0.191 GB file in 00:00:19

   user  system elapsed
  15.67    0.73   18.72

In [12]:
#system.time(DT1 <- read.csv("data//GB_full.csv"))

   user  system elapsed
 125.95    0.70  127.97

## dplyr

## sqldf

In [8]:
install.packages("sqldf",repos = "https://cran.r-project.org/")
library(sqldf)

Installing package into 'C:/Users/Suman/Documents/R/win-library/3.4'
(as 'lib' is unspecified)

package 'sqldf' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Suman\AppData\Local\Temp\RtmpCmbjbo\downloaded_packages

Warning message:
"package 'sqldf' was built under R version 3.4.3"Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

In [10]:
sqldf("select * from iris limit 5")
sqldf("select count(*) from iris")
sqldf("select Species, count(*) from iris group by Species")
# create a data frame
DF <- data.frame(a = 1:5, b = letters[1:5])
sqldf("select * from DF")
sqldf("select avg(a) mean, variance(a) var from DF") # see example 15

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

  count(*)
1 150

  Species    count(*)
1 setosa     50
2 versicolor 50
3 virginica  50

  a b
1 1 a
2 2 b
3 3 c
4 4 d
5 5 e

  mean var
1 3    2.5

Other R & SQL article:   
http://www.hackerearth.com/blog/machine-learning/exclusive-sql-tutorial-on-data-analysis-in-r/

## lubridate package

* lubridate package provides a number of useful functions for reading, manipulating, and doing arithmetic with dates in R.

**Basics of Date Time in R**  
There are three good options for date-time data types: built-in POSIXt, chron package, lubridate package. POSIXt has two types, namely POSIXct and POSIXlt. “ct” can stand for calendar time and “lt” is local time.

In [11]:
# create a date
as.Date("2015-12-1")
# specify the format
as.Date("11/30/2015", format = "%m/%d/%Y")
# take a difference - Sys.Date() gives present day date
Sys.Date() - as.Date("2014-12-01")
#using POSIXlt - find current time
as.POSIXlt(Sys.time())
#finds class of each data time component
unclass(as.POSIXlt(Sys.time()))
# create POSIXct variables
as.POSIXct("080406 10:11", format = "%y%m%d %H:%M")
# convert POSIXct variables to character strings
format(as.POSIXct("080406 10:11", format = "%y%m%d %H:%M"), "%m/%d/%Y %I:%M %p")

[1] "2015-12-01"

[1] "2015-11-30"

Time difference of 1169 days

[1] "2018-02-12 14:12:29 IST"

$sec
[1] 29.2011

$min
[1] 12

$hour
[1] 14

$mday
[1] 12

$mon
[1] 1

$year
[1] 118

$wday
[1] 1

$yday
[1] 42

$isdst
[1] 0

$zone
[1] "IST"

$gmtoff
[1] 19800

attr(,"tzone")
[1] ""      "IST"   "+0630"

[1] "2008-04-06 10:11:00 IST"

[1] "04/06/2008 10:11 AM"

In [12]:
install.packages('lubridate',repos = "https://cran.r-project.org/")
library(lubridate)

Installing package into 'C:/Users/Suman/Documents/R/win-library/3.4'
(as 'lib' is unspecified)

package 'lubridate' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Suman\AppData\Local\Temp\RtmpCmbjbo\downloaded_packages

Warning message:
"package 'lubridate' was built under R version 3.4.3"
Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

In [13]:
#current date and time
now()

#assigning current date and time to variable n_time
n_time <- now()
#using update function
n_update <- update(n_time, year = 2013, month = 10)
n_update

#add days, months, year, seconds
d_time <- now()
d_time + ddays(1)

d_time + dweeks(2)


d_time + dyears(3)


d_time + dhours(2)


d_time + dminutes(50)


d_time + dseconds(60)

#extract date,time
n_time$hour <- hour(now())
n_time$minute <- minute(now())
n_time$second <- second(now())
n_time$month <- month(now())
n_time$year <- year(now())
#check the extracted dates in separate columns
new_data <- data.frame(n_time$hour, n_time$minute, n_time$second, n_time$month, n_time$year)
new_data
5.6

[1] "2018-02-12 14:16:36 IST"

[1] "2013-10-12 14:16:37 IST"

[1] "2018-02-13 14:16:37 IST"

[1] "2018-02-26 14:16:37 IST"

[1] "2021-02-11 14:16:37 IST"

[1] "2018-02-12 16:16:37 IST"

[1] "2018-02-12 15:06:37 IST"

[1] "2018-02-12 14:17:37 IST"

Warning message in n_time$hour <- hour(now()):
"Coercing LHS to a list"

  n_time.hour n_time.minute n_time.second n_time.month n_time.year
1 14          16            37.37412      2            2018

[1] 5.6

## stringr